name: attendanceit
description: "attendancesystim"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.10.2
  flutter_secure_storage: ^8.0.0 # For persistent login
   # QR Code generation
  qr_flutter: ^4.0.0

 # QR Code scanning (REPLACEMENT)
  qr_code_scanner: ^1.1.1

  # UUID for unique codes
  uuid: ^3.0.7

  # Optional: for state management
  provider: ^6.0.5

  # UI
  flutter_material_pickers: 



dev_dependencies:
  flutter_launcher_icons: ^0.10.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

